* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@media all and (min-width: 376px) {  
  body {
    /* This is the main body section with very light grey background */
    background-color: #e5e5e5;
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 24px;
    border: 0;
    margin: 0 0 150px 0;
    background-image: url(Assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 0 0 0 60px;
  }

  .logo {

  }

  .main {
    /* Section contains the texts and the social media icons */
    display: flex;
    flex-direction: column;
  }

  h1 {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }

  .main h1 {
    margin: 100px 0 0 0;
  }
  
  .main-description {
    font-family: "Poppins", sans-serif;
    color: #344563;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }

  .works {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    margin: 0 24px 100px 24px;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-variant-caps: all-petite-caps;
    color: #7f8cff;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin: 10px 0;
  }

  .summary {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }

  .canopy {
    font-family: "Poppins", sans-serif;
    font-variant-caps: small-caps;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .counter {
    background-color: #c1c7d0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .caption {
    font-family: "Poppins", sans-serif;
    font-variant-caps: titling-caps;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #7a869a;
  }

  .tech-list-portfolio {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: 75%;
  }

  .tech {
    background: #ebebff;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .project {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: transparent;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid;
  }

  .project:hover {
    background-color: #6070ff;
    color: white;
  }

  .project:active {
    background-color: #2230d2;
    color: white;
  }

  .project:disabled {
    border: 1px solid;
    color: #5e6c84;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .about-me {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px;
    margin: 0;
    border: 0;
    background-color: white;
    border-radius: 0 60px 0 0;
  }

  .about {
    margin: 100px 0 0 0;
  }

  .resume {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: transparent;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid;
    margin: 12px 0;
  }

  .resume:hover {
    background-color: #6070ff;
    color: white;
  }

  .resume:active {
    background-color: #2230d2;
    color: white;
  }

  .resume:disabled {
    border: 1px solid;
    color: #5e6c84;
  }

  h6 {
    font-family: "Poppins", sans-serif;
    font-variant-caps: titling-caps;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #000;
    padding: 12px;
    margin: 15px 0;
  }

  .technologies {
    background-color: #f7f7f9;
    border-radius: 8px;
    list-style: none;
    align-items: left;
    padding: 0 12px;
  }

  .techListAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    margin: 0;
  }
  .tonic {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #172b4d;
  }
}

