
@media (min-width: 376px) {
  body {
    /* This is the main body section with very light grey background */
    background-color: #e5e5e5;
    background-size: cover;
    margin: 0;
    display: 100vh;
  }

  .wrapper {
    /* the wrapper div wraps everything visible in the body */
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 24px;
    border: 0;
    margin: 0 0 150px 0;
    background-image: url(Assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 0 0 0 60px;
  }

  .header {
    /* This section is for the logo and the menu icon */
    display: flex;
    justify-content: space-between;
  }

  .main {
    /* Section contains the texts and the social media icons */
    display: flex;
    flex-direction: column;
  }

  h1 {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }

  .main h1 {
    margin: 100px 0 0 0;
  }

  p {
    font-family: "Poppins", sans-serif;
    color: #344563;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-variant-caps: all-petite-caps;
    color: #7f8cff;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin: 10px 0;
  }

  .summary {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }

  .canopy {
    font-family: "Poppins", sans-serif;
    font-variant-caps: small-caps;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #344563;
  }

  .counter {
    background-color: #C1C7D0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .caption {
    font-family: "Poppins", sans-serif;
    font-variant-caps: titling-caps;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #7A869A;
  }

  .techlist {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: 75%;
  }

  .tech {
    background: #EBEBFF;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .project {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396DF2;
    background-color: transparent;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .works {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    margin: 0 24px 100px 24px;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
  }

  .about-me {
    display: flex;  
    flex-direction: column;
    height: 100vh;
    padding: 24px;
    margin: 0;
    border: 0;
    background-color: white;
    border-radius: 0 60px 0 0;
  }

  .about {
    margin: 100px 0;
  }

  .resume {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396DF2;
    background-color: transparent;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid;
    margin: 12px 0;
  }

  h6 {
    font-family: "Poppins", sans-serif;
    font-variant-caps: titling-caps;  
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    padding: 12px;
    margin: 15px 0;
  }

  .technologies {
    list-style: none;
    align-items: left;
    padding: 0 12px;
  }
  
  .techlist {
    background-color: #F7F7F9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 0;
    margin: 0;
  }
}
